@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 10, 10, 10;
  --neon-red: #F22E30;
  --neon-red-branding: #F22E30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  overflow-x: hidden;
}

@layer utilities {
  .text-neon-red {
    color: var(--neon-red);
    text-shadow: 0 0 5px var(--neon-red), 0 0 10px var(--neon-red);
  }

  .border-neon-red {
    border-color: var(--neon-red);
    box-shadow: 0 0 5px var(--neon-red);
  }

  .animate-shake {
    animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}